/* RESETS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

p, a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}



/* UTILITIES */
/* Ive added sizes and other style attributes for many containers, boxes, differently styled titles and text, froms and buttons here. These classes are then reused when needed */
/* This seemed like a good idea at the time, but once the main-style.css hit 500 lines, I decided to break up the one css file into 5 files. Finding and gathering reused material turned out to be hardest and most time consuming part of this project. */

.container {
  width: 85%;
  margin: auto;
  
}

ul {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-colored {
  color: #2e6b06;
}

.text-lg {
  font-size: 4rem;
  text-align: center;
}

.text-xl {
  font-size: 8rem;
  font-weight: 700;
}

.current {
  color: #2e6b06;
  font-weight: bold;
}

.btn-lg {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;

  border: 1px solid #fff;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
}

.btn-lg:hover {
  font-size: 2rem;
  color: #2e6b06;

  border: 1px solid #2e6b06;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
}

.btn-small {
  text-decoration: none;
  color: #f4f4f4;

  background-color: #2e6b06;
  border-radius: 5rem;
  padding: 0.5rem 2rem;
}

.btn-small:hover {
  color: #2e6b06;

  background-color: #fff;
  border-radius: 5rem;
  padding: 0.5rem 2rem;
}



/* HEADER */

header {
  background-color: #000;
  min-height: fit-content;
  border-bottom: 2px solid #2e6b06;

  overflow: hidden;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  min-width: 60ch;
}

header li {
  list-style-type: none;
  padding: 2rem;

}

header a {
  font-size: 1.75rem;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;

}

header nav a:hover {
  color: #2e6b06;
}

/* Media queries for the header/nav bar */
@media (min-width: 500px) and (max-width: 1023px) {
  header .container {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
  }
}

@media (max-width: 499px) {
  header .container {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
  }
  header nav ul {
    display: flex;
    flex-direction: column;
  }
  header nav ul li {
    width: 100vw;
    text-align: center;
    border-bottom: 1px dotted #777;
  }
}



/* HERO SECTION */

#hero-section {
  min-height: 95vh;

  text-align: center;
  color: #f4f4f4;
}

section.home-bg {
  background: url(../images/hero-bg-2.jpg) no-repeat center center/cover;
}

#hero-section .container {
  padding-top: 25vh;
}

#hero-section h1 {
  font-size: 5rem;
  font-weight: 400;
}

#hero-section p {
  font-size: 2.5rem;
  font-weight: 300;
  padding: 3rem;
}

/* Media query for hero section to ahve a different backgorund for tablets and cellphones becase the original background content gets pushed out of the way */
@media (max-width: 769px) {
  section.home-bg {
    background: url(../images/smoke-honest-LBs8B24-WGg-unsplash.jpg) no-repeat center center/cover;
    
  }
}



/* LONG FORM TEXT */
/* The mission and vision section */

#text-content {
  min-height: 100vh;
  padding-top: 3rem;
}

#text-content .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container div img {
  height: auto;
  width: 100%;
  border-radius: .5rem;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}

#mission-text, #vision-text {
  min-height: 40vh;

  font-size: 2rem;
  padding: 1rem;

  flex-basis: 1;

  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

@media (max-width: 769px) {
  #text-content .container {
    display: flex;
    flex-direction: column;
  }
}



/* FOOTER */
footer {
  height: 7vh;
  background: #000;
  border-top: 5px solid #2e6b06;
}

footer p {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 100;
  color: #f4f4f4;
  padding-top: 1rem;  
}










